/*header*/
header{
   background-color: rgb(37, 94, 233);
    
}
.background-blu{
    background-image: url(img/jumbo.png);
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 15px;
}
.accedi{
    color:  rgb(37, 94, 233);
}
.fucsia>h2 {
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}
.fucsia>p{
    color: white;
}
.fucsia {
   margin: auto;
}
.open-discord{
background-color: black;
color: white;
}
.rosa>h2{
    padding-top: 30px;
}
.rosa>p{
    padding-top: 30px;
}
.text-big{
    text-align: center;
    padding-top: 20px;
}
.img-big{
    padding-top: 20px;
    display: block;
    margin: auto;
}
h2{
    font-size: 2em;
}
.italiano{
    padding-top: 20px;
}
.img-ita{
    width: 10%;
    vertical-align: middle;
}
.stelle{
    width: 50%;
    background-image: url(img/stars.svg);
    height: 80px;
    background-repeat: no-repeat;
    margin: auto;
}
.p-stelle{
    text-align: center;
    font-size: 30px;
    padding: 15px;
}